@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.cdnfonts.com/css/spartan');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'spartan', sans-serif;
    
}
#header a img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: drop-shadow(7px 10px 10px rgb(166, 133, 133));

}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4 {
    font-size: 20px;
    color: #222;

}

h6 {
    font: weight 700px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #1a1a1a;
    margin: 15px 0 20px 0;

}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;

}

button.banner2{

    color: #ffffff;
}

body {
    width: 100%;
    overflow-x: hidden;

}

/* HEADER START*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #e3e6f3;
    height: 90px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;

}

#navbar li a:hover ,#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close{
    display: none;
}
/* Home Page */

#hero{
    background-image: url("/img/banner/couch.png");
    /* background-color: thistle; */
    height: 157vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero .image{
    width: device-width, initial-scale=1.0;
    /* height: 25px;  */
 }

#hero h4{
    padding-bottom: 15px;

}

#hero h1{
    color: rgb(6, 243, 252);
}

/* FIX THE BUTTON */

#hero button { 
    
    background-color: transparent;
    color: #300231;
    border: 0;
    border-radius: 100px;
    padding: 14px 80px 10px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* FEATURE SECTION */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

#feature .fe-box{
    width: 188px;
    text-align: center;
    /* padding: 25px 15px; */
    padding: 10px 12px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0 ;
    position: relative;
}
/* display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; */

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(29, 20, 199, 0.295);
}

#feature .fe-box img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* padding-left: 25px 15px; */
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;

}

#feature .fe-box:nth-child(3) h6{
    background-color: #5cfc00ad;

}

#feature .fe-box:nth-child(4) h6{
    background-color: #f895df;

}

#feature .fe-box:nth-child(5) h6{
    background-color: #ecea8f;

}

#feature .fe-box:nth-child(6) h6 {
    background-color: rgb(226, 225, 142, 226, 123);

}
/* #feature.section-p1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    align-items: center;
} */

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 49%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02s ease;
    position: relative;

}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;

}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 24);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178; 
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* STYLING FOR PRODUCT2  */

#product2 {
    text-align: center;
}

#product2 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product2 .pro{
    width: 49%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02s ease;
    position: relative;

}

#product2 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product2 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product2 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product2 .pro .des span{
    color: #606063;
    font-size: 12px;

}

#product2 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product2 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 24);
}

#product2 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product2 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178; 
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/img/banner/ban1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    /* color: #005a75; */
    font-size: 30px;
   
}

#banner h2 {
    /* color: #005a75; */
    color:#F807CB;
    font-size: 45px;
    padding: 10px 0;
}

#banner h2 span {
    color:#751B00;
}

#banner button:hover {
    background: #088178;
    color: #fff;
}


#sm-banner {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
}

#sm-banner .banner-box {
    display: flex;
    box-sizing: border-box;
    margin-left: -45px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("/img/banner/ban4.jpg");
    min-width: 350px;
    width: 48%; 
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px; 

}




#sm-banner .banner-box2 {
    background-image: url("/img/banner/ban3.jpg");
    margin-left: -45px;
}

#sm-banner .banner-box h4{
    color: rgb(107, 2, 2);
    font-size: 20px;
    font-weight: 500;
    


}

#sm-banner .banner-box h2{
    color: white;
    font-size: 28px;
    font-weight: 800;

}

#sm-banner .banner-box span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 550;
    padding-bottom: 15px;
    padding-left: 15.5%;


}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}


#sm-banner .banner-box2 h4{
    color: rgb(17, 1, 1);
    font-size: 20px;
    font-weight: 600;


}

#sm-banner .banner-box2 h2{
    color: white;
    font-size: 28px;
    font-weight: 800;

}
#sm-banner .banner-box2 span{
    color: white;
    font-size: 14px;
    font-weight: 550;
    padding-bottom: 15px;
    padding-left: 5%;
}


.menubar{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}


@media ( width <= 768px) {
    #navbar {
        display: none;
    }
    .menubar {
        display: block;
    }
    /* #sm-banner  {
        margin-left: -45px;
    } */
}

#banner3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    background-image: url("/img/products/new/new6.jpg");
    min-width: 30%;
    /* width: 30%; */
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
   

}

#banner3 h2{
    color: rgb(255, 238, 2);
    font-size: 22px;
    font-weight: 900;
    padding-top: 110px;
   

}



#banner3 h3{
    color: rgb(10, 248, 102);
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 0;
    

}

#banner3 .banner-box2 {
    background-image: url("/img/banner/ban5.avif");

}

#banner3 .banner-box3 {
    background-image: url("/img/banner/ban6.jpg");

}

#newsLetter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("/img/banner/ban11.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsLetter h4 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 238, 2);
}

#newsLetter p {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 248, 95);

}

#newsLetter p span {

    color: rgb(251, 255, 0);

}

#newsLetter .form {
    display: flex;
    width: 40%;
    
}


#newsLetter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsLetter button {
    border-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    width: 100%;
    
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    /* background-color: black; */
}

footer .footerLogo {
    margin-bottom: 30px;
}

footer h4 { 
    font-size: 14px;
    padding-bottom: 20px;

}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #222;
}

footer .follow {
    margin-top: 20px;

}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}


footer .install img  {
    margin: 10px 0px 15px 0;
}

footer .follow  i:hover,
footer a:hover {
    color: #088178;

}

footer .copywright{
    width: 100%;
    text-align: center;
}

/* START MEDIA QUERY */

@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active{
        right: 0px;
    }
    
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        color: #222;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        height: 75vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px 3px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form{
        width: 70%;
    }
}

/* SHOP PAGE */

#page-header {
    background-image: url("/img/banner/banner12.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* SINGLE PRODUCT PAGE */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    height: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0px 20px 0px;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button {
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

/* BLOG PAGE */
#page-header-blog{
    background-image: url("/img/products/banner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header-blog h2,
#page-header-blog p {
    color: #fff;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40PX;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover:after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* ABOUT PAGE */

#page-header-about {
    background-image: url("/img/products/banner-about.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header-about h2,
#page-header-about p {
    color: #000000;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
/* CONTACT PAGE  */


/* CART PAGE  */


/* MEDIA-QUERY-> MOBILE */

@media (max-width:477px) {

    .section-p1{
        padding: 20px;
    }

    #header {
        padding: 10px 20px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #hero {
        background-position: 55%;
        padding: 0 20px;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #feature .fe-box img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    #product1 .pro{
        width: 100%;
    }

    #product2 .pro {
        width: 100%;
        
    }

    #banner {
        height: 40vh;
    }
    
    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsLetter .form {
        width: 100%;
    }

    footer .copywright {
        text-align: start;
    }

    /*single product*/

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image  {
        width: 100%;
        margin-top: 0px;
    }  

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* blog page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About page */

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }
}